*{
    padding: 0px;
    margin: 0px;
}

#div{
    text-align: center;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}

#board{
    position: absolute;
    width: 75vw;
    height: 75vw;
    max-width: 30em;
    max-height: 30em;    
    display: block;
    cursor: pointer;
    background: transparent;
    transform: translateY(-100%);
}

#game{
    position: relative;
    width: 75vw;
    height: 75vw;
    max-width: 30em;
    max-height: 30em;    
    display: block;
}

/* APPARENCE DU SITE --------------------------------------------------------------------------------------------------------------------------- */

/* Toute la page */
body {
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    background-image : url("../image/light.jpg");
    background-size : cover;
}

/* Titre centré */
.titre {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

/* Le sous-titre */
header {text-align : center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color : rgb(20, 19, 20);
    font-size : 20px;
    text-shadow: -1px 0 white, 0 1px white,
          1px 0 white, 0 -1px white}

/* La navbar */
.flex-container {
    display: flex;
  }
  .flex-container > div {
    text-align: center ;
    background-color: #2f00ff;
    margin: 0px;
    margin-right : 0px;
    padding: 14px;
    font-size: 20px;
    line-height: 25px;
    width: 420px;
    
  }

  a {
    text-decoration: none;
    color : rgb(255, 255, 255);
}

/* Lumiere navbar */

.flex-container > div:hover{
    background-color: rgb(236, 213, 0);
    color : black ;
  }

/* Texte dans la partie grise de la page */

.texte {
    float: center;
    background-color: rgba(223, 219, 248, 0.7);
    border: 2px solid black;
    text-align: center;
              }

/* Le titre */

h1 {
    text-align: center;
    color :rgb(202, 167, 11);
    font-size: 5em ;
    text-shadow: -2px 0 white, 0 2px white,
    2px 0 white, 0 2px white
}

/* Le footer */
footer {text-align : center;
  background-color: white;
  font-size :10px}

/* Regles dans la partie grise de la page regles.html */

.textedeux {
  float: center;
  background-color: rgba(223, 219, 248, 0.7);
  border: 2px solid black;
  text-align: center;
            }


/* Image Puissance 4 dans regles.html */
#imagerie {
  float: left;
}

/* Image regles dans regles.html */
#imagerie2 {
  float: center;
  background-color: rgba(223, 219, 248, 0.7);
  border: 2px solid black;
  text-align: center;
}


/* Faire en sorte que la grille soit superposée au jeu */
 /* #board { */ 
  /*position: relative;
  z-index: 1;
}

#game {
  position : absolute;
}*/

/*Affichage joueur 1 : jaune, joueur 2 : rouge a coté de la grille */
#pion {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background: yellow;
}

#piondeux {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background: red;
}

/*Texte dans puissance4.html*/
.textetrois {
  float: center;
  background-color: rgba(223, 219, 248, 0.7);
  border: 2px solid black;
  text-align: center;
  position: relative;
  float: right;
  margin-right : 500px
            }

/*Les boutons pour choisir la grille */
.bouton {
  text-align: center ;
    background:linear-gradient(#2f00ff, #2f00ff6c);
    margin: 0px;
    margin-right : 0px;
    padding: 14px;
    font-size: 20px;
    line-height: 17px;
    width: 140px;
}
