/* APPARENCE DU SITE --------------------------------------------------------------------------------------------------------------------------- */

/* Toute la page */
body {
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    background-image : url("../images/light.jpg");
    background-size : cover;
}

/* Titre centré */
.titre {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

/* Le sous-titre */
header {text-align : center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color : rgb(20, 19, 20);
    font-size : 20px;
    text-shadow: -1px 0 white, 0 1px white,
          1px 0 white, 0 -1px white}


/* Texte dans la partie grise de la page */

.texte {
    float: center;
    background-color: rgba(223, 219, 248, 0.7);
    border: 2px solid black;
    text-align: center;
}

/* Le footer */
footer {text-align : center;
  background-color: white;
  font-size :10px;
  width: 100%}


/* Image Puissance 4 dans regles.html */
#imagerie {
  float: left;
}

/* Image regles dans regles.html */
#game-image {
  float: center;
  width: 50%;
  background-color: rgba(223, 219, 248, 0.7);
  border: 2px solid black;
  text-align: center;
}


/* Faire en sorte que la grille soit superposée au jeu */
#board { 
  position: relative;
  z-index: 1;
  border: 2px solid black;
}

#game {
  position : absolute;
  float : center;
  border: 2px solid black;
}

/*Affichage joueur 1 : jaune, joueur 2 : rouge a coté de la grille */
#pion {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background: yellow;
}

#piondeux {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background: red;
}

/*Texte dans les pages avec les grilles*/
#textetrois {
  float: center;
  background-color: rgba(223, 219, 248, 0.7);
  border: 2px solid black;
  text-align: center;
  position: relative;
  float: right;
  margin-right : 200px;
  display : none
}

/*Les boutons pour choisir la grille */

.choix {
  text-align: center ;
    background:linear-gradient(#2f00ff, #2f00ff6c);
    padding: 14px;
    font-size: 20px;
    line-height: 17px;
    width: 250px;
    margin : 20px;
    margin-left : auto;
  
  }

.choix a {
  text-decoration: none;
  color : rgb(255, 255, 255);
}

/*Le logo en haut de la page */
.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

/* L'affichage des regles */
.grid-rules {
  display: grid;
  width: 75%;
  grid-template-columns: auto auto ;
  padding: 20px;
}

.grid-image-rules { 
  grid-row-start: 1;
  grid-row-end: 5;
}


/* Le canvas de jeu */
.grid-canvas-container {
  display: grid;
  grid-template-columns: 100 auto auto;
  padding: 10px;
}

.grid-canvas {
  grid-column: 2;
  grid-row-start: 1;
  grid-row-end: 4;
}
